/* Reset */
#header-container {
	display: table;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	margin-bottom:10px;
	background:#444444;
}

#header-box {
	display: table-cell;
	vertical-align: middle;
}

#eblogo {
	display: table-cell;
    width: 80px;
    vertical-align: middle;
    text-align: center;
}

#screen_caption {
	display: table-cell;
    width: auto;
	padding: 0 15px;
    vertical-align: middle;
    text-align: left;
	text-transform: uppercase;
	font-size:14pt;
	color:#33b5e8;
	text-shadow: 0 -1px 0 #9e3825;
	text-shadow: 0 -1px 0 rgba(116, 37, 2, 0.7);
	font-weight: bold;
	white-space: nowrap;
}

#user_box {
	display: table-cell;
	min-width: 90px;
	text-align: right;
	padding: 0 10px;
	vertical-align: middle;
}

#user_box img{
	cursor:pointer;
	padding-left:2px;
}

#user_box span{
	display:block;
	color:white;
	font-size:9pt;
	margin-bottom:5px;
	margin-right:5px;
}

#wf_notify_box {
	position:absolute;
    right: 67px;
    top: 29px;
	width:16px;
	height:16px;
	font-family:Arial;
	font-size:6pt;
	font-weight:bold;
	background:red;
	border:2px solid white;
	border-radius:12px;
	color:white;
	cursor:pointer;
	text-align:center;
	line-height:12px;
	letter-spacing: -1px;
	text-indent:-1px;
	box-sizing: border-box;
}

#wf_notify {
	padding-left:3px;
	text-align:center;
	font-size:7pt
}

.navi,
.navi a,
.navi ul,
.navi li,
.navi div,
.navi form,
.navi input {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}
.navi a { 
  font-size: 13px;
  text-decoration: none;
  line-height: 18px;
  text-transform: uppercase;
}

.navi li { list-style: none; }

/* Menu Container */
.navi {
	display: table-cell;
    vertical-align: middle;
}

/* Menu List */
.navi > li {
	display: block;
	float: left;
}

.navi > li.activex > a,
.navi .navi-column .activex  > h3,
.navi > li  ul > li.activex > a{
	color:#33b5e8;
}

/* Menu Links */
.navi > li > a, .navi .active_item {
	padding: 0px 20px;
	display: block;
	color: white;
	height: 30px;
	line-height: 30px;
	box-sizing: border-box;

	text-shadow: 0 -1px 0 #9e3825;
	text-shadow: 0 -1px 0 rgba(116, 37, 2, 0.7);
	font-weight: bold;
}

.navi > li:hover > a { 
  background: #888888;
}

.navi > li:first-child > a {
	border-left: none;
}

/* Menu Dropdown */
.navi > li > div {
	position: absolute;
	/* width: 100%; */
	/* top: 60px; */
	/* left: 0; */
	/* text-align:center; */
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	min-height: 260px;
	background: #eeeeee;
	border:1px solid #888888;
	box-shadow: 0px 0px 10px rgba(0,0,0,.12);
    z-index: 1001;

}

.navi > li:hover > div {
	opacity: 1;
	visibility: visible;
	overflow: visible;
}

/* Menu Content Styles */
.navi .navi-column {
	//float: left;
	width: auto;
	display:inline-block;
	vertical-align:top;
	text-align:left;
	padding: 10px 40px 20px 40px;
}

.navi .navi-column ul {
	border-left:0px solid #cccccc;
	padding-left:20px;
}

.navi .navi-cell:hover > h3 {
	/* text-decoration:underline; */
}

.navi .navi-cell:hover > ul {
	border-left:0px solid #33b5e8;
}

.navi .navi-column h3 {
	margin: 20px 0 10px -2px;
	line-height: 18px;
	
	font-size: 14px;
	color: #000000;
	text-transform: uppercase;
}

.navi .navi-column h3.orange { color: orange; }

.navi .navi-column li a {
	display: block;
	line-height: 26px;
	
	font-size: 13px;
	color: #666666;
	text-shadow: 0 1px 0 white;
}

.navi .navi-column li a:hover { 
	color: #33b5e8;
}

.navi .active_item, .navi .active_item  > a{
	text-transform: uppercase;
	font-size:14pt;
	color:#33b5e8
}

.navi .active_item  div {
	min-height:0px;
}

.navi .active_item  div a{
	padding:30px;
	display:block;
	float:left;
}

.navi .active_item  div a:hover{
	background:#f8f8f8;
	color:#33b5e8;
}

.workflow_task_active{
	-webkit-animation: spin 5s infinite linear;
    animation: spin 5s infinite linear;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
